@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

*{
  margin:0;
  padding:0;  
}

body{
  font-family: "Lora", serif;
}

.cabecalho{
    background-color: #f5c6d5;
    color:rgb(250, 243, 247);
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
  width: 100px;
  height: 90px;
  border-radius: 50%;
}

.cabecalho-titulo{
  display: inline-block;
  margin: 0 16;
  font-size: 20px;
}

.escola-imagem{
  width:30%;
}

.escola{
 background-image:linear-gradient(  #c70c88,#f80cc5 );
 color:rgb(251, 244, 244);
 display:flex;
 justify-content: center;
 align-items: center;
 padding: 24px 0;
 }

.escola-conteudo{
  width: 35%;
  }

.escola-titulo{
  padding: 24px 0;
  }

.estudante{
  padding: 24px 0;
  }

.estudante-imagem{
  width: 200px;
  }

.estudante-icone{
  width: 24px;
  padding: 4px 8px;
  }

.estudante-div{
  text-align: center;
  padding: 16px 0;
 }

.estudante-titulo {
  text-align: center;
  padding: 50px 0;
}

.estudante-todos{
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

.rodape{
 background-color: rgb(224, 44, 134);
 color:rgb(247, 240, 240);
 text-align: center;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}


form {
	margin: 40px 0;
}

form label, form legend {
	display:block;
	font-size: 20px;
	margin: 0 0 10px;
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox {
	margin: 20px 0;
}

.enviar {
	width:40%;
	padding: 15px 0;
	background: rgb(255, 0, 128);
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}

.enviar:hover {
	background: rgb(255, 0, 140);
	transform: scale(1.2);
}

table {
	margin: 20px 0 40px;
}

thead {
	background: #555555;
	color: white;
	font-weight: bold;
}

td, th {
	border: 1px solid #000000;
	padding: 8px 15px;
}
